<%= link_to 'PULL', home_pull_path, class: 'btn btn-info' %><%= link_to 'SEED', home_seed_path, class: 'btn btn-info' %><%= link_to 'TEST', home_test_path, class: 'btn btn-info' %>
<b>PRODUCT COUNT:<%= Product.count %></b>
<table>
	<% Product.all.each do |q| %>
		<tr>
		<td><img src=<%= cl_image_src(q.code.strip) %> height="100"></td>
		</tr>
	<% end %>
</table>