<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

   

    <%= f.input :notes, as: :text %>
    <%= f.input :delivery_date, as: :calendar %>
    <%= f.input :cust_order_number, label: 'your purchase order number:' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
