<span id="notice"><%= notice %></span>
<% @order.quantities.each do |po| %>
<div class="po">
	<%= link_to product_path(Product.find_by(code: po.product.code)) do %>
		<div class="product-thumbnail">
	<%= cl_image_tag(po.product.code.strip) %>
	</div><%= po.product.code %>
	<% end %>
	<%= current_user.account.seller_level %>
	<% case current_user.account.seller_level.to_i %>
		  	<% when 1 %>
		  		$<%= po.product.price1 %>
		    <% when 2 %>
		  		$<%= po.product.price2 %>
		    <% when 3 %>
		  		$<%= po.product.price3 %>
		    <% when 4 %>
		  		$<%= po.product.price4 %>
		    <% when 5 %>
		  		$<%= po.product.price5 %>
		    <% when 6 %>
		  		$<%= po.product.rrp %>
	<% end %>
	x <%= po.qty %>

<% end %>
<hr>
