<span id="notice"><%= notice %></span>
<a onclick="window.print();" style="cursor:pointer;">Print this page</a>

    
<style>
* {
  font-family: 'Verdana', sans-serif;
}
body, p, i, b, td{
  font-size:10px;
}
h1{
  font-size:15px;
}

</style>
<table style="width:600px; text-align:center;" align="center" width="600">
  <tbody>
    <tr style="font-family: 'Verdana', sans-serif; font-size: 10px; width:600px;" width="600">
      <td>
<table style="width:600px; text-align:center;" align="center" width="600">
  <tbody>
    <tr align="left" style="text-align:left; font-size:10px; font-family: 'Verdana', sans-serif;">
      <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150"><b>Customer</b></td><td><%= @order.user.account.company %></td>
    </tr>
    <tr align="left" style="text-align:left; font-size:10px; font-family: 'Verdana', sans-serif;">
      <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150"><b>Cust No.</b></td><td><%= @order.user.account.code %></td>
    </tr>
    <tr align="left" style="text-align:left; font-size:10px; font-family: 'Verdana', sans-serif;">
      <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150"><b>Address</b></td><td><%= @order.user.account.street %>
        <%= @order.user.account.suburb %> <%= @order.user.account.postcode %></td>
      </tr>
      <tr align="left" style="text-align:left;">
        <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150">
          Notes:
        </td>
        <td style="font-size:10px; font-family: 'Verdana', sans-serif;">
          <%= @order.notes %>
        </td>
      </tr>
      <tr align="left" style="text-align:left;">
        <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150">
          Order number:
        </td>
        <td style="font-size:10px; font-family: 'Verdana', sans-serif;">
          <%= @order.order_number %>
        </td>
      </tr>
      <tr align="left" style="text-align:left;">
        <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150">
          Customer order number:
        </td>
        <td style="font-size:10px; font-family: 'Verdana', sans-serif;">
          <%= @order.cust_order_number %>
        </td>
      </tr>
      <tr align="left" style="text-align:left;">
        <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:150px;" width="150">
          Delivery date:
        </td>
        <td style="font-size:10px; font-family: 'Verdana', sans-serif;">
          <%= @order.delivery_date %>
        </td>
      </tr>
    </tbody>
  </table>
</td>
</tr>
<tr style="font-family: 'Verdana', sans-serif; font-size: 10px; width:600px;" width="600">
  <td>
  <table style="width:600px; text-align:center;" align="center" width="600">
    <tbody>
      <tr style="font-family: 'Verdana', sans-serif; font-size: 10px; width:600px;" width="600">
        <th style="font-size:10px; font-family: 'Verdana', sans-serif; width:40px;" width="40">Item No.</th>
        <th style="font-size:10px; font-family: 'Verdana', sans-serif; width:30px;" width="30">Qty</th>
        <th style="font-size:10px; font-family: 'Verdana', sans-serif; width:380px;" width="380">Description</th>
        <th style="font-size:10px; font-family: 'Verdana', sans-serif; width:50px; text-align:right;" width="50" align="right">Price</th>
        <th style="font-size:10px; font-family: 'Verdana', sans-serif; width:50px; text-align:right;" width="50" align="right">Subtotal</th>
      </tr>
      <% @order.quantities.order(brand: 'ASC').each do |q| %>
      <% case @order.user.account.seller_level.to_i %>
      <% when 1 %>
      <% oldprice = q.product.price1 %>
      <% when 2 %>
      <% oldprice = q.product.price2 %>
      <% when 3 %>
      <% oldprice = q.product.price3 %>
      <% when 4 %>
      <% oldprice = q.product.price4 %>
      <% when 5 %>
      <% oldprice = q.product.price5 %>
      <% when 6 %>
      <% oldprice = q.product.rrp %>
      <% end %>
      <% case @order.user.account.seller_level.to_i %>
      <% when 1 %>
      <% prodprice = q.product.calc_discount(@order.user, q.product.price1, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
      <% when 2 %>
      <% prodprice = q.product.calc_discount(@order.user, q.product.price2, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
      <% when 3 %>
      <% prodprice = q.product.calc_discount(@order.user, q.product.price3, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
      <% when 4 %>
      <% prodprice = q.product.calc_discount(@order.user, q.product.price4, q.product.group, q.product.code, q.product.pricecat), q.qty %>
      <% when 5 %>
      <% prodprice = q.product.calc_discount(@order.user, q.product.price5, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
      <% when 6 %>
      <% prodprice = q.product.rrp %>
      <% end %>

      <% subtotal = (q.qty * prodprice) %>
      <tr>
        <td align="left" style="text-align:left; font-size:10px; font-family: 'Verdana', sans-serif; width:40px;" width="40"><%= q.product.code %></td>
        <td style="font-size:10px; font-family: 'Verdana', sans-serif; width:30px;" width="30"><%= q.qty %></td>
        <td style="text-align:left;font-size:10px; font-family: 'Verdana', sans-serif; width:390px;" width="390"><%= q.product.description %></td>
        <td style="text-align:right; font-size:10px; font-family: 'Verdana', sans-serif; width:40px;" width="40" align="right">$<%= number_with_precision(prodprice, precision: 2)%></td>
        <td style="font-size: 10px; width:50px; text-align:right; font-family: 'Verdana', sans-serif;" width="50" align="right">$<%= number_with_precision(subtotal, precision: 2) %></td>
      </tr>
      <% end %>
      <tr align="left" style="text-align:left;">
          <td></td><td></td><td></td>
          <td style="text-align:right;" align="right">
            <b style="font-size:12px; font-family: 'Verdana', sans-serif;">QTY :</b>
          </td>
          <td style="text-align:right;" align="right">
            <b style="font-size:12px; font-family: 'Verdana', sans-serif;"><%= @order.quantities.all.sum(:qty) %></b>
          </td>
        </tr>
      <% if @order.total %>
      <tr align="left" style="text-align:left;">
        <td></td><td></td><td></td>
        <td style="text-align:right;" align="right">
          <b style="font-size:12px; font-family: 'Verdana', sans-serif;">SUBTOTAL :</b>
        </td>
        <td style="text-align:right;" align="right">
          <b style="font-size:12px; font-family: 'Verdana', sans-serif;">
            $<%= (@order.total).round(2) %>
          </b>
        </td>
      </tr>
      <tr align="left" style="text-align:left;">
        <td></td><td></td><td></td>
        <td style="text-align:right;" align="right">
          <b style="font-size:12px; font-family: 'Verdana', sans-serif;">GST :</b>
        </td>
        <td style="text-align:right;" align="right">
          <b style="font-size:12px; font-family: 'Verdana', sans-serif;">$<%= (@order.total * 0.1).round(2) %></b>
        </td>
      </tr>

      <tr align="left" style="text-align:left;">
        <td></td><td></td><td></td>
        <td style="text-align:right;" align="right">
          <b style="font-size:12px; font-family: 'Verdana', sans-serif;">TOTAL :</b>
        </td>
        <td style="text-align:right;" align="right">
          <b style="font-size:12px; font-family: 'Verdana', sans-serif;">$<%= (@order.total + (@order.total * 0.1).round(2)) %></b>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</td>
</tr>
</tbody>
</table>

<% if @showbuttons == 'show' %>
<div class="col-md-3 cart" id="cart" style="width:100%; display:block; left:0; border-radius:0;">
        <p>
          <i class="fa fa-shopping-cart fa-2x"></i>
        </p>
        <hr>
        <p>
          <%= render 'orders/sidecart' %>
        </p>
      </div>
      <% end %>