<span id="notice"><%= notice %></span>
<% @order.total = 0 %>
<% @order.quantities.each do |po| %>
<div class="po">
	<%= link_to product_path(Product.find_by(code: po.product.code)) do %>
		<div class="product-thumbnail">
	<%= cl_image_tag(po.product.code.strip) %>
	</div><%= po.product.code %>
	<% end %>
	<% case @sellerlevel.to_i %>
		  	<% when 1 %>
		  	<% @setprice = po.product.price1 %>
		  		
		    <% when 2 %>
		    <% @setprice = po.product.price2 %>
		  		
		    <% when 3 %>
		    <% @setprice = po.product.price3 %>
		  		
		    <% when 4 %>
		    <% @setprice = po.product.price4 %>
		  		
		    <% when 5 %>
		    <% @setprice = po.product.price5 %>
		  		
		    <% when 6 %>
		    <% @setprice = po.product.rrp %>
		  		
	<% end %>
	<% @setprice = @setprice.round(2) %>
	$<%= number_with_precision(@setprice, precision: 2) %>
	x <%= po.qty %> ------- $<%= po.qty * @setprice %><% @order.total = @order.total + (po.qty * @setprice) %>
</div>
<% end %>
<hr>
TOTAL (excl. freight & GST) = $<%= @order.total %>
<hr>
