<h1>A user has updated their account details in the RocCloudy wholesaler portal.</h1>
Company: <%= @account.company %><br>
[<%= @account.user.email %>]<br>
PH: <%= @account.phone %> | Contact: <%= @account.contact %> | Website: <%= @account.website %><hr>
Address: <%= @account.street %><br>
Suburb: <%= @account.suburb %><br>
Postcode: <%= @account.postcode %><br>
<h2>Please moderate their account and update the details in Attache to match</h2>
