<h1>Thank you for your order from Roc Cloudy</h1>
<h2>Here is your order summary:</h2>
<hr><hr>
Shipping to:<br>
<%= @thisorder.user.account.street %><br>
<%= @thisorder.user.account.suburb %><br>
<%= @thisorder.user.account.company %><br>
<hr>
<table>
	<% @thisorder.quantities.each do |q| %>
		<tr>
		<td><img src=<%= cl_image_path(q.product.code.strip) %> height="100"></td>
		<td><%= q.product.code %></td>
		<td><%= q.product.description %></td>
		<td>QTY : <%= q.qty %></td>
		</tr>
	<% end %>
</table>
<hr><b>TOTAL : <%= @thisorder.total %></b>
