<table>
<tr>
<td><b>Customer</b></td><td><%= @thisorder.user.account.company %></td>
</tr>
<tr>
<td><b>Cust No.</b></td><td><%= @thisorder.user.account.code %></td>
</tr>
<tr>
<td><b>Address</b></td><td><%= @thisorder.user.account.street %>
<%= @thisorder.user.account.suburb %></td>
</tr>
</table>
<hr>
<table>
<tr>
<th>Item No.</th>
<th>Qty</th>
<th>Description</th>
<th>Price</th>
<th>Subtotal</th>
</tr>
	<% @thisorder.quantities.each do |q| %>
                    <% case @level %>
                      <% when 1 %>
                        <% oldprice = q.product.price1 %>
                      <% when 2 %>
                        <% oldprice = q.product.price2 %>
                      <% when 3 %>
                        <% oldprice = q.product.price3 %>
                      <% when 4 %>
                        <% oldprice = q.product.price4 %>
                      <% when 5 %>
                        <% oldprice = q.product.price5 %>
                      <% when 6 %>
                        <% oldprice = q.product.rrp %>
                    <% end %>
                    <% case @level %>
                      <% when 1 %>
                        <% prodprice = q.product.calc_discount(@thisperson, q.product.price1, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
                      <% when 2 %>
                        <% prodprice = q.product.calc_discount(@thisperson, q.product.price2, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
                      <% when 3 %>
                        <% prodprice = q.product.calc_discount(@thisperson, q.product.price3, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
                      <% when 4 %>
                        <% prodprice = q.product.calc_discount(@thisperson, q.product.price4, q.product.group, q.product.code, q.product.pricecat), q.qty %>
                      <% when 5 %>
                        <% prodprice = q.product.calc_discount(@thisperson, q.product.price5, q.product.group, q.product.code, q.product.pricecat, q.qty) %>
                      <% when 6 %>
                        <% prodprice = q.product.rrp %>
                    <% end %>
  	
  	<% subtotal = (q.qty * prodprice).round(2) %>
		<tr>
		<td><%= q.product.code %></td>
		<td><%= q.qty %></td>
		<td><%= q.product.description %></td>
		<td>$<%= number_with_precision(prodprice, precision: 2)%></td>
		<td>$<%= subtotal %></td>
		</tr>
	<% end %>
</table>
<hr><b>TOTAL : $<%= @thisorder.total %></b>
<style>
* {
  font-family: 'Verdana';
}
body, p, i, b, td{
  font-size:10px;
}
h1{
  font-size:15px;
}
td{
  margin-right:20px;
}
</style>