Your order from Roc Cloudy
-------------------------<br>
order ID:<%= @thisorder.id %><hr>
<%= @thisorder.user.account.street %><br>
<%= @thisorder.user.account.suburb %><br>
<%= @thisorder.user.account.company %><br>
<hr>
<table>
	<% @thisorder.quantities.each do |q| %>
		<tr>
		<td><%= cl_image_tag(q.product.code.strip) %></td>
		<td><%= q.product.code %></td>
		<td><%= q.product.description %></td>
		<td>QTY : <%= q.qty %></td>
		</tr>
	<% end %>
</table>
<hr><b>TOTAL : <%= @thisorder.total %></b>
