<%= simple_form_for(@quantity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <% if @quantity.product.code == "7585X" %>
  	<%= f.input :qty, step: 12 %>
  <% else %>
    <%= f.input :qty %>
  <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
