<p id="notice"><%= notice %></p>

<h1>Listing Discounts</h1>

<table>
  <thead>
    <tr>
      <th>Customertype</th>
      <th>Producttype</th>
      <th>Customer</th>
      <th>Product</th>
      <th>Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.customertype %></td>
        <td><%= discount.producttype %></td>
        <td><%= discount.customer %></td>
        <td><%= discount.product %></td>
        <td><%= discount.discount %></td>
        <td><%= link_to 'Show', discount %></td>
        <td><%= link_to 'Edit', edit_discount_path(discount) %></td>
        <td><%= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount', new_discount_path %>
