<div class="row">
  <div class="col-md-9">
    <div id="productlist">

      <% @products.each do |product| %>

      <%= link_to (product) do %>
      <div class="product">
        <%= cl_image_tag(product.code.strip) %>
        <br>
        <%= product.code %><br>
        $<%= product.price1 %><br>
        <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
        Group : <%= product.group %>
        <% end %>
        <% end %> 
      </div>
      <% end %>

      <% end %>

    </div>
  <div class="panel panel-default">
    <div class="panel-body">
      Total products: <%= @totalproducts %>
    </div>
  </div>
  <%= will_paginate @posts %>
  </div>
  <div class="col-md-3 cart">
    <p>
      <i class="fa fa-shopping-cart fa-2x"></i>
    </p>
    <hr>
    <p>
      cart details and send order button
    </p>
  </div>
</div>

