<p id="notice"><%= notice %></p>
<h1>Listing Products</h1>
<table id="productlist">
  <thead>
    <tr>
    <th></th>
      <th>SKU</th>
      <th>Price</th>

      <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
          <th>Group</th>
        <% end %>
      <% end %>
      
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @products.each do |product| %>
    <tr>
    <td><%=cl_image_tag(product.code.strip, :alt => product.code.strip)%></td>
      <td><%= product.code %></td>
      <td>$<%= product.price1 %></td>
      <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
          <td><%= product.group %></td>
        <% end %>
      <% end %>       
      <td><%= link_to 'Show', product %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="panel panel-default">
  <div class="panel-body">
    Total products: <%= @totalproducts %>
  </div>
</div>
<%= will_paginate @posts %>