<p id="notice"><%= notice %></p>
<h1>Listing Products</h1>
<div id="productlist">

  <% @products.each do |product| %>

  <%= link_to 'google.com' do %>
  <div class="product">
  <%= cl_image_tag(product.code.strip) %>
    <br>
    <%= product.code %><br>
    $<%= product.price1 %><br>
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    Group : <%= product.group %>
    <% end %>
    <% end %> 
  </div>
  <% end %>

  <% end %>

</div>

<br>
<div class="panel panel-default">
  <div class="panel-body">
    Total products: <%= @totalproducts %>
  </div>
</div>
<%= will_paginate @posts %>