<div class="row">
  <div class="col-md-9">
    <div id="productlist">
      <div class="panel panel-default">
        <div class="panel-body">
          Total products: <%= @totalproducts %>
          <% if Contact.find_by(code:'running', email:'running') %>
          RUNNING SEED
          <% else %>
          FINISHED SEED
          <% end %>
        </div>
      </div>
      <% @products.each do |product| %>
        <%= link_to (product) do %>
          <div class="product">
            <%= cl_image_tag(product.code.strip) %>
            <br>
            <%= product.code %> | <%= product.description %><br>

            <% if user_signed_in? %>
              <% if current_user.account || (current_user.has_role? :admin) %>
                <% if (current_user.account.approved == 'approved') || ((current_user.has_role? :admin) && (!current_user.mimic.nil?)) %>
                  <% if (current_user.has_role? :admin) && (!current_user.mimic.nil?) %>
                    <% level = current_user.mimic.account.seller_level.to_i %>
                    <% thisperson = current_user.mimic.account.user %>
                  <% else %>
                    <% level = current_user.account.seller_level.to_i %>
                    <% thisperson = current_user %>
                  <% end %>
                  <% case level %>
                    <% when 1 %>
                      <% prodprice = product.price1 / 100 * product.discount(thisperson) %>
                    <% when 2 %>
                      <% prodprice = product.price2 / 100 * product.discount(thisperson) %>
                    <% when 3 %>
                      <% prodprice = product.price3 / 100 * product.discount(thisperson) %>
                    <% when 4 %>
                      <% prodprice = product.price4 / 100 * product.discount(thisperson) %>
                    <% when 5 %>
                      <% prodprice = product.price5 / 100 * product.discount(thisperson) %>
                    <% when 6 %>
                      <% prodprice = product.rrp %>
                  <% end %>
                  <% if (current_user.has_role? :admin) && (current_user.mimic.nil?) %>
                    <br>[RRP: $<%= product.rrp %>]<br>
                  <% else %>
                    $<%= number_with_precision(prodprice, precision: 2) %> -- disc = <%= thisperson.email %>
                  <% end %>
                  <% if current_user.has_role? :admin %>
                    | [QTY: <%= product.qty %>]
                  <% end %>
                <% end %>
              <% end %>
            <% end %> 
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if (current_user.orders.any?) && (current_user.orders.last.active == true) %>
    <div class="col-md-3 cart">
      <p>
        <i class="fa fa-shopping-cart fa-2x"></i>
      </p>
      <hr>
      <p>
        <%= render 'orders/sidecart' %>
      </p>
    </div>
  <% elsif (current_user.has_role? :admin) && (!current_user.mimic.nil?) && (current_user.mimic.account.user.orders.any?) && (current_user.mimic.account.user.orders.last.active == true) %>
    <div class="col-md-3 cart">
      <p>
        <i class="fa fa-shopping-cart fa-2x"></i>
      </p>
      <hr>
      <p>
        <%= render 'orders/sidecart' %>
      </p>
    </div>
  <% end %>
</div>

