
<div class="row">

<div class="col-md-5">
<%= cl_image_tag(@product.code.strip) %>
</div>

<div class="col-md-4">
<p>
  <strong>SKU:</strong>
  <%= @product.code %>
</p>
<p>
<%= @product.description %>
</p>

<p>
  <% if user_signed_in? %>
	  <% if (current_user.account && current_user.account.approved == 'approved' && current_user.account.seller_level) || ((current_user.has_role? :admin) && (!current_user.mimic.nil?)) %>
	  <!-- if the user has an approved account with a seller level set, then show them their correct price -->
		<% if (current_user.has_role? :admin) && (!current_user.mimic.nil?) %>
		<% level = current_user.mimic.account.seller_level.to_i %>
		<% else %>
		<% level = current_user.account.seller_level.to_i %>
		<% end %>
		<% case level %>
		  	<% when 1 %>
		  		<% prodprice = @product.price1  / 100 * @product.discount(current_user) %>
		    <% when 2 %>
		  		<% prodprice = @product.price2  / 100 * @product.discount(current_user) %>
		    <% when 3 %>
		  		<% prodprice = @product.price3  / 100 * @product.discount(current_user) %>
		    <% when 4 %>
		  		<% prodprice = @product.price4  / 100 * @product.discount(current_user) %>
		    <% when 5 %>
		  		<% prodprice = @product.price5  / 100 * @product.discount(current_user) %>
		    <% when 6 %>
		  		<% prodprice = @product.rrp %>
		  <% end %>
		  $<%= number_with_precision(prodprice, precision: 2) %>
	  <% end %>

	  <% if user_signed_in? %>
		  <% if current_user.account || ((current_user.has_role? :admin) && (!current_user.mimic.nil?)) %>
			  <% if current_user.account.approved == 'approved' || ((current_user.has_role? :admin) && (!current_user.mimic.nil?)) %>
				  	<%= simple_form_for(@quantity) do |f| %>
				  		<%= f.input :qty, input_html: {value: f.object.qty || '1'} %>
				  		<% if @order %>
				  			<%= f.hidden_field :order_id, value: @order.id %>
				  		<% end %>
				  		<%= f.hidden_field :product_id, value: @product.id %>
				  		<%= f.submit "ADD TO CART", class: 'btn btn-success' %>
				  	<% end %>
			  <% end %>
		  <% end %>
	  <% end %>
  <% end %>
</p>
</div>
<%= current_user.mimic.user.orders.last.active? %>
 
</div>
