<!DOCTYPE html>
<html>
<head>
  <title>Roc Cloudy | Wholesale</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Scope+One|Vesper+Libre" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand lobster" href="../">Roc Cloudy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=''>Roc</a></li>
        <li><a href=''>Polasports</a></li>
        <li><a href=''>Locello</a></li>
        <li><a href=''>Unity</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>You're logged in as <%= current_user.email %></li>
        <% if current_user.has_role? :admin %>
        <li><%= link_to 'Pending customers', accounts_path %></li>
        <% else %>
        <% if current_user.approved? %>
           <li><%= link_to 'My Account', new_user_session_path %></li>
        <% else %>
        <% if !current_user.account %>
        <li><%= link_to 'create account for approval', new_account_path(current_user) %></li>
        <% else %>
          <li><a href="" style="color:red;">your account is pending approval</a></li>
<% end %>
        <% end %>

        <% end %>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>



        <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<%= yield %>
</div>

<div class="footer">
<%= link_to 'terms', terms_index_path %> | <%= link_to 'privacy', privacy_index_path %>
<% if !user_signed_in? %>
| <%= link_to 'sign up', new_user_registration_path %> | <%= link_to 'log in', new_user_session_path %>
<% end %>
| copyright &copy; <%= Time.now.year %> Roc Cloudy Pty Ltd
</div>

</body>
</html>
