<!DOCTYPE html>
<html>
<head>
  <title>Roc Cloudy | Wholesale</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Scope+One|Vesper+Libre" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand lobster" href="../">
<img src="http://res.cloudinary.com/roc-cloudy/image/upload/v1479963402/RocCloudy_axxjva.jpg"><div class='tinytext'>Roc Cloudy Pty Ltd</div>
</a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if @notice != nil %>
        <%= @notice %>
      <% end %>
      <% if user_signed_in? %>

      <% if current_user.has_role? :admin %>
        <div id="mimic">
          <% if !current_user.mimic.nil? %>
            ORDERING FOR: 
            <%= current_user.mimic.account.company %>
          <% end %>
        </div>
      <% end %>

        <ul class="nav navbar-nav">
        <% if current_user.account %>
          <% if current_user.account.sort %>
            <% if current_user.account.sort.include? 'R' %>
              <li class="dropdown menu-icon"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/roc_nrnt5m.png"><span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li><%= link_to 'Sunglasses', products_path(group: 'roc', cat: 'C') %></li>
              <li><%= link_to 'Hats', products_path(group: 'roc', cat: 'J') %></li>
              </ul>
              </li>
            <% end %>
            <% if current_user.account.sort.include? 'P' %>
              <li class="menu-icon"><%= link_to products_path(group: 'polasports') do %>
                <img src="http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/polasports_gmkhsz.png">
                <% end %>
              </li>
            <% end %>
            <% if current_user.account.sort.include? 'L' %>
              <li class="menu-icon"><%= link_to products_path(group: 'locello') do %><img src="http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/locello_owt9fc.png">
              <% end %></li>
            <% end %>
            <% if current_user.account.sort.include? 'U' %>
            <li class="dropdown menu-icon"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://res.cloudinary.com/roc-cloudy/image/upload/v1479954637/unity_ehatxv.gif"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All Sunglasses', products_path(group: 'unity', cat: ['E','D']) %></li>
              <li><%= link_to 'Fashion', products_path(group: 'unity', cat: 'E', filter: 'FASHION') %></li>
              <li><%= link_to 'Mens', products_path(group: 'unity', cat: 'E', filter: 'MENS') %></li>
              <li><%= link_to 'Mens Polarised', products_path(group: 'unity', cat: 'E', filter: 'MENS POLARISED') %></li>
              <li><%= link_to 'Womens', products_path(group: 'unity', cat: 'E', filter: 'WOMENS') %></li>
              <li><%= link_to 'Womens Polarised', products_path(group: 'unity', cat: 'E', filter: 'WOMENS POLARISED') %></li>
              <li><%= link_to 'Kids', products_path(group: 'unity', cat: 'D') %></li>
              <li><%= link_to 'Reading', products_path(group: 'unity', cat: 'R') %></li>
              <li><%= link_to 'Accesories', products_path(group: 'unity', cat: 'A') %></li></ul></li>
            <% end %>
            <li><%= link_to 'New arrivals', products_path(group: 'all', filter: 'new') %></li>
          <% end %>
        <% end %>
      <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
          <li><%= link_to 'Customers', accounts_path %></li>
          <% else %>
          <% if current_user.approved? %>
          <li><%= link_to 'My Account', new_user_session_path %></li>
          <% else %>
          <% if !current_user.account %>
          <li><%= link_to 'create account for approval', new_account_path(current_user) %></li>
          <% else %>
          <% if current_user.account.approved != 'approved' %>
          <li><%= link_to 'your account is pending approval', account_path(current_user.account) %></a></li>
          <% else %>
          <li><%= link_to 'my account', account_path(current_user.account) %></a></li>
          <% end %>
          <% end %>
          <% end %>

          <% end %>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% if current_user.orders.any? && current_user.orders.last.active == true %>
          <li><%= link_to 'View Cart', order_path(current_user.orders.where(active: true).last) %></li>
          <% end %> 


          <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="mycontainer">
    <%= yield %>
  </div>

  <div class="footer">
    <%= link_to 'terms', terms_index_path %> | <%= link_to 'privacy', privacy_index_path %>
    <% if !user_signed_in? %>
    | <%= link_to 'sign up', new_user_registration_path %> | <%= link_to 'log in', new_user_session_path %>
    <% end %>
    | copyright &copy; <%= Time.now.year %> Roc Cloudy Pty Ltd
  </div>

</body>
</html>
