<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company %>
    <%= f.input :address %>
    <%= f.input :suburb %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :phone %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <% if current_user.has_role? :admin %>
    <%= f.input :seller_level %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
