<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <% if current_user.has_role? :admin %>
        <%= f.input :code %>
        <% else %>
        <%= link_to "Change login credentials", edit_user_registration_path %>
      <% end %>
    <%= f.input :company %>
    <%= f.input :street %>
    <%= f.input :suburb %>
    <%= f.input :postcode %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :phone %>
    <%= f.input :brands, label: 'Which brands/items are you interested in?'%>
    <%= f.input :contact, label: 'contact name' %>
    <%= f.input :website %>

    <% if current_user.has_role? :admin %>
    <% if !@account.seller_level || @account.seller_level == '' %>
    <div class="highlight-field">
    <%= f.input :seller_level %>
    </div>
    <% else %>
    <%= f.input :seller_level %>
    <% end %>
    <%= f.input :sort %>
    <br>(**NB: changes made to sort will NOT be reflected in Attache automatically)
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
