<p id="notice"><%= notice %></p>

<h1>Listing Accounts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>email</th>
      <th><%= link_to 'company', accounts_path(order: 'company') %></th>
      <th><%= link_to 'street', accounts_path(order: 'street') %></th>
      <th><%= link_to 'Suburb', accounts_path(order: 'Suburb') %></th>
      <th><%= link_to 'Sort', accounts_path(order: 'Sort') %></th>
      <th><%= link_to 'Code', accounts_path(order: 'Code') %></th>
      <th><%= link_to 'Phone', accounts_path(order: 'Phone') %></th>
      <th><%= link_to 'Contact name', accounts_path(order: 'contact') %></th>
            <th>View</th>
      <th><%= link_to 'Seller level', accounts_path(order: 'seller_level') %></th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
    <% if account.approved != 'approved' %>
    <tr style="background:yellow;">
      <% else %>
      <tr>
        <% end %>
        <% if account.user %>
        <td><%= account.user.email %></td>
        <% else %>
        <td>no user assoc.</td>
        <% end %>
        <td><%= account.company %></td>
        <td><%= account.street %></td>
        <td><%= account.suburb %></td>
        <td><%= account.sort %></td>
        <td><%= account.code %></td>
        <td><%= account.phone %></td>
        <td><%= account.contact %></td>
        <td>
          <%= link_to account_path(account) do %>
            <i class='fa fa-eye'></i>
          <% end %>
        </td>
        <% if account.approved == 'approved' %>
        <% if !account.seller_level? %>
        <td>
          <%= link_to edit_account_path(account), class: 'btn btn-warning', title: 'seller level required' do %>
            <i class="fa fa-exclamation-triangle"></i>
          <% end %>
          <%= link_to unapprove_account_path(account), class: 'btn btn-primary' do %>
            <i class="fa fa-thumbs-o-down">
          </i> Unapprove
          <% end %>
        </td>
        <% else %>
        <td>
          <%= link_to edit_account_path(account), class: 'btn btn-success' do %>
          <i class="fa fa-sort"></i> 
          <%= account.seller_level %>
          <% end %>
          <%= link_to unapprove_account_path(account), class: 'btn btn-primary' do %>
          <i class="fa fa-thumbs-o-down"></i> Unapprove
          <% end %>
        </td>
        <% end %>
        <% else %>
        <td><%= link_to approve_account_path(account), class: 'btn btn-primary' do %>
          <i class="fa fa-thumbs-o-up"></i> Approve
          <% end %>
        </td>
        <% end %>
        <td>
          <%= link_to orderas_account_path(account), data: { confirm: 'Now ordering as ' + account.company }, class: 'btn btn-info' do %>
          <i class="fa fa-cart"></i>
          <% end %>
        </td>
      </tr>
      
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @accounts %>
  <br>

  <%= link_to 'New Account', new_account_path %>
