<p id="notice"><%= notice %></p>

Search: <input id="searchfield" type="text"><span class="btn btn-info" onclick="searchme();"><i class="fa fa-search"></i></span><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>code</th>
      <th>company</th>
      <th>phone</th>
      <th>contact</th>
      <th>email</th>
      <th>View acct.</th>
      <th></th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
    <% if account.approved != 'approved' %>
    <tr style="background:yellow;">
      <% else %>
      <tr>
        <% end %>
        <td><%= account.code %></td>
        <td><%= account.company %></td>
        <td><%= account.phone %></td>
        <td><%= account.contact %></td>
        <% if account.user %>
        <td><%= account.user.email %></td>
        <% else %>
        <td>no user assoc.</td>
        <% end %>
        <td>
          <% if account.dispute %>
          <b>Credit on hold</b><br>
        <% end %>
          <%= link_to account_path(account) do %>
            <i class='fa fa-eye'></i>
          <% end %>
        </td>
        <% if account.approved == 'approved' %>
        <% if !account.seller_level? %>
        <td>
          <%= link_to edit_account_path(account), class: 'btn btn-warning', title: 'seller level required' do %>
            <i class="fa fa-exclamation-triangle"></i>
          <% end %>
          Approved 
          <% if (current_user.has_role? :admin) || (current_user.has_role? :rep) %>
            <%= link_to unapprove_account_path(account), class: 'btn btn-danger' do %>
              <i class="fa fa-thumbs-o-down">
            </i> Unapprove
            <% end %>
          <% end %>
        </td>
        <% else %>
        <td>Approved
          <% if (current_user.has_role? :admin) || (current_user.has_role? :rep) %>
            <%= link_to unapprove_account_path(account), class: 'btn btn-danger' do %>
            <i class="fa fa-thumbs-o-down"></i> Unapprove
            <% end %>
          <% end %>
        </td>
        <% end %>
        <% else %>
        <td>Not approved
        <% if (current_user.has_role? :admin) || (current_user.has_role? :rep) %>
          <%= link_to approve_account_path(account), class: 'btn btn-info' do %>
            <i class="fa fa-thumbs-o-up"></i> Approve
          <% end %>
        <% end %>
        </td>
        <% end %>
        <td>
          <%= link_to orderas_account_path(account, account: account), class: 'btn btn-info' do %>
          <i class="fa fa-shopping-cart"></i>
          <% end %>
        </td>
      </tr>
      
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @accounts %>


  <hr>
  <p><b>Users with no account</b></p>
  <% @blank_accounts.each do |u| %>
    <%= u.email %><%= link_to 'delete user', destroy_user_account_path(id: 1, user: u.id), class: 'btn btn-danger' %><br>
  <% end %>
