<div class="row">
<div class="col-md-6">
<p>
<strong>code:</strong>
<%= @account.code %>
</p>
<p>
  <strong>name:</strong>
  <%= @account.company %>
</p>

<p>
  <strong>street:</strong>
  <%= @account.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @account.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @account.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<% if !@account.approved? %>
<p>
  <strong>Interested in:</strong>
  <%= @account.brands %>
</p>
<% end %>

<p>
  <strong>Contact name:</strong>
  <%= @account.contact %>
</p>

<p>
  <strong>Website:</strong>
  <%= @account.website %>
</p>



<% if !@account.approved? %>
<p>
Account is pending approval.
</p>
<% end %>
<% if current_user.has_role? :admin %>
  
<p>
  <strong>Seller level:</strong>
  <% if @account.seller_level  && @account.seller_level != '' %>
    <%= @account.seller_level %>
  <% else %>
    <%= link_to 'Please moderate', edit_account_path(@account), class: 'btn btn-warning' %>
  <% end %>
</p>
<% end %>
<% if (current_user.account) || (current_user.has_role? :admin) %>
<%= link_to 'Edit account details', edit_account_path(@account), class: 'btn btn-default' %>
  <% if current_user.has_role? :admin %>
    <%= link_to 'Order for this customer', orderas_account_path(account: @account.id), class: 'btn btn-info' %>
    <%= link_to 'delete user', destroy_user_path(account: @account.id), class: 'btn btn-danger' %>
  <% end %>
<% end %>
</div>
<div class="col-md-6">
<%= render 'orders/index' %>
</div>
</div>